apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-new
  labels: 
    app: mysql-new
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql-new
  template:
    metadata:
      labels:
        app: mysql-new
    spec:
      containers:
      - name: mysql-container
        image: march11.azurecr.io/sqlrepo
  
        ports:
        - containerPort: 3306

    

