apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql-container
        image: march12acr.azurecr.io/pythonimage:1
        ports:
        - containerPort: 3306
        volumeMounts:
          - name:  testvolume
            mountPath:  /var/lib/mysql
      volumes:
      - name: testvolume
        hostPath:
          path: /var/tmp/storage
