apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-new
  labels: 
    app: flask-new
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-new
  template:
    metadata:
      labels:
        app: flask-new
    spec:
      containers:
      - name: flask-container
        image: march11.azurecr.io/pythonrepo

        ports:
        - containerPort: 5000
        imagePullSecrets:
        - name: bindu-secret
        
        env:
        - name: MYSQL_HOST
          value: "clusterip-to-change"
   

