apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask
  labels: 
    app: flask
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask-container
        image: himaacr.azurecr.io/pythonrepo
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 5000
        imagePullSecrets:
        - name: acrsecret
        env:
        - name: MYSQL_HOST
          value: "clusterip-to-change"
   

